/* Fonts */
@font-face {
	font-family: 'opensans';
  src: url('../fonts/opensans.ttf') format('truetype');
}
@font-face {
	font-family: 'centurygothic';
  src: url('../fonts/centurygothic.ttf') format('truetype');
}
/* 1. Common Style */
body {
	margin-top: 80px;
	background: none;
	font-family: opensans;
	color: #656565 !important;}
section {
	padding: 40px 0;}
section.border {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;}
section.akzent {
  background-color: #f9f9f9;}
section.akzent h1.akzent{
	color: #336ba8;}
section.nopadding {
  padding: 0px;}
	section.paddingx2 {
	  padding: 80px 0px;}

.img-center {
	margin: 0 auto;}
.smallerpadding {
	padding: 0 10px;}

.btn {
	border-radius: 2px !important;
}
.btn-full {
	width: 100%;
	margin-bottom: 10px;
}
.btn-white {
  color: #fff;
  background-color: rgba(51,107,168,.5);
  border-color: #fff;
}
.btn-white:focus,
.btn-white.focus {
  color: #fff;
  border-color: #1d2c4e;
}
.btn-white:hover {
	color: #fff;
  border-color: #1d2c4e;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
	color: #fff;
  border-color: #1d2c4e;
}
.btn-white:active:hover,
.btn-white.active:hover,
.open > .dropdown-toggle.btn-white:hover,
.btn-white:active:focus,
.btn-white.active:focus,
.open > .dropdown-toggle.btn-white:focus,
.btn-white:active.focus,
.btn-white.active.focus,
.open > .dropdown-toggle.btn-white.focus {
	color: #fff;
  border-color: #1d2c4e;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled.focus,
.btn-white[disabled].focus,
fieldset[disabled] .btn-white.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-white .badge {
  color: #fff;
  background-color: #333;
}

.btn-blue {
  color: #fff;
  background: url("../img/button.png");
  background-size: 100% 100%;
  border-color: #1d2c4e;
}
.btn-blue:focus,
.btn-blue.focus {
  color: #1d2c4e;
}
.btn-blue:hover {
	color: #9cbdfa;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
	color: #1d2c4e;
  border-color: #1d2c4e;
}
.btn-blue:active:hover,
.btn-blue.active:hover,
.open > .dropdown-toggle.btn-blue:hover,
.btn-blue:active:focus,
.btn-blue.active:focus,
.open > .dropdown-toggle.btn-blue:focus,
.btn-blue:active.focus,
.btn-blue.active.focus,
.open > .dropdown-toggle.btn-blue.focus {
	color: #1d2c4e;
  border-color: #1d2c4e;
}
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
  background-image: none;
}
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus {
  background-color: #336ba8;
  border-color: #ccc;
}
.btn-blue .badge {
  color: #336ba8;
  background-color: #333;
}

.eb-heading {
  margin-bottom: 16px;
  border-bottom: 1px solid #cdcdcd;
}
.eb-heading>span {
	color: #656565;
  border-bottom: 1px solid #336BA8;
}
h1.eb-heading {
	font-size: 24px;
	line-height: 24px;
	padding-bottom: 10px;
	margin: 0px 0 15px 0;
}
h1.eb-heading>span{
	padding-bottom: 6px;
}
h2.eb-heading, .sidebar h1.eb-heading {
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 8px;
	margin: 0px 0 15px 0;
}
h2.eb-heading>span, .sidebar h1.eb-heading>span {
	padding-bottom: 5px;
}
h3.eb-heading {
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 6px;
	margin: 0px 0 15px 0;
}
h3.eb-heading>span{
	padding-bottom: 3px;
}
h4.eb-heading {
	font-size: 13px;
	line-height: 13px;
	padding-bottom: 4px;
	margin: 0px 0 15px 0;
}
h4.eb-heading>span{
	padding-bottom: 2px;
}

/*! 2. NAVBAR */
.navbar {
	height: 80px;
	border: 0px !important;
	box-shadow: 0px 4px 6px rgba(0,0,0,.2);
	background: #fff;
}
.navbar-toggle {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	border: 1px solid #df6309;
	border-radius: 2px !important;
	padding: 7px 10px !important;
}
.navbar-toggle .icon-bar {
	background-color: #336ba8 !important;
	width: 18px !important;
}
.navbar-collapse {
	background-color: #fff;
}
.navbar-brand>img {
	height: 50px;
}
.navbar-nav>li>a {
    line-height: 48px;
		padding-bottom: 14px;
		font-size: 14px;
		color: #656565;
}
/*! END NAVBAR */

/*! 3. FOOTER */
footer {
	color: #fff;
	background-image: url("../img/bg_eb_blue.jpg");
	box-shadow: inset 0px 4px 6px rgba(0,0,0,.2);
}
footer h1 {
	font-size: 18px;
}
footer h1 span {
	padding: 0 10px 5px 0;
	border-bottom: 2px solid #1d2c4e;
}
footer p {
	font-size: 14px !important;
	line-height: 18px;
}
footer a {
	color: #fff !important;
}
footer a:hover {
	color: #9cbdfa !important;
}
footer img {
	margin-bottom: 10px;
}
footer form input{
	width: 100%;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 5px;
	border: 1px solid #fff;
	border-radius: 2px;
	background-color: rgba(255,255,255,.0);
	margin-bottom: 10px;
}
footer .top {
	padding: 20px 0;
	color: #fff;
}
footer .top ul{
	list-style: none;
	font-size: 14px;
	padding: 0px;
}
footer .top ul li{
	line-height: 20px;
}
footer .top ul li i{
	margin-right: 5px;
}
footer .bottom .left{
	text-align: left;
}
footer .bottom .right{
	text-align: right;
}
footer .bottom>.container {
	padding-top: 15px;
	padding-bottom: 5px;
	border-top: 1px solid rgba(255,255,255,.7);
	color: #fff;
}

.navbar-collapse {
	background-color: #fff;
}
.navbar-brand>img {
	height: 50px;
}
.navbar-nav>li>a {
    line-height: 48px;
		font-size: 14px;
		color: #656565;
}
@media (max-width: 991px) {
	.navbar-nav>li>a {
	    line-height: 24px;
	}
	footer .bottom .left{
		text-align: center;
	}
	footer .bottom .right{
		text-align: center;
	}
}
.navbar-nav>li>a:hover{
		color: #336ba8 !important;
		border-bottom: 2px solid #336ba8;
}
/*! END FOOTER */

section#hero {
	position: relative;
	height: 400px;
	color: #fff;
	overflow: hidden;
}
section#hero .hero-img img{
	width: 100%;
	min-width: 800px;
	float: right;
}
section#hero .hero-content {
  position: absolute;
	top: 120px;
}
section#hero .hero-content h1{
	font-size: 40px;
	letter-spacing: .95px;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
section#hero .hero-content p{
	font-size: 18px;
	letter-spacing: .55px;
}


/*! section#landingpage-header */
section#breadcrumbs {
 background: url(../img/bg_01.png) no-repeat center top fixed;
 color: #fff !important;
 padding: 15px 0;
}
section#breadcrumbs h1{
 margin-bottom: 20px;
 font-size: 20px;
 line-height: 20px;
 padding: 8px 0;
}
section#breadcrumbs .breadcrumb{
 margin-top: 20px;
 background-color: rgba(0,0,0,0);
 text-align: right;
}
section#breadcrumbs .breadcrumb a{
	color: #fff !important;
}
section#breadcrumbs .active{
	color: #1d2c4e !important;
}
@media (max-width: 767px) {
	section#breadcrumbs h1{
	 text-align: center;
	 margin: 10px 0 0 0;
	}
	section#breadcrumbs .breadcrumb{
	 text-align: center;
	 margin: 0 0 10px 0;
	}
}

/*! section#landingpage-header */
section#lp-header {
 background: url(../img/bg_01.png) no-repeat center top fixed;
 color: #fff !important;
}
section#lp-header h1{
 margin-bottom: 30px;
}
section#lp-header p{
 margin-bottom: 30px;
}

section#home-funktion .funktion-icon {
  color: #336ba8;
  float: left;
  margin-top: 20px;
}
section#home-funktion .funktion-txt {
  padding-left: 70px;
}
section#home-funktion .funktion-txt h2 {
  font-size: 16px;
}

section#home-progress {
  background: url(../img/bg_eb_blue.jpg) center top fixed;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 5px #000;
}

/*! projectcard */
.modal-body .projectcard {
	margin-bottom: 15px !important;
}
.modal-body .projectcard .projectdescription h1{
	font-size: 14px !important;
	line-height: 16px !important;
	margin: 0 !important;
}
.modal-body .projectcard .projectdescription h1>span{
	font-size: 15px !important;
}
.projectcard {
	border: 1px solid #cdcdcd;
	border-radius: 6px;
	margin-bottom: 30px;
}
.projectcard img {
	border-radius: 5px 5px 0px 0px;
}
.projectcard .projectdescription {
	padding: 5px 8px;
}
.projectcard .projectdescription h1{
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 10px 0;
}.projectcard .projectdescription h1>span{
	font-size: 16px;
	font-weight: bold;
	color: #336ba8;
}
.projectcard .projectdescription p{
	font-size: 12px;
	line-height: 14px;
	margin: 0px
}
.projectcard .projectdescription .btn{
	margin-top: 10px
}
.projectcard .progress-description {
	margin: 0px;
	font-size: 11px;
	color: #888888;
	padding: 5px;
}
.projectcard .progress {
	margin: 0px;
	border-radius: 0px 0px 5px 5px!important;
	height: 10px;
}
.projectcard .progress .progress-bar{
	background-color: #81ce01;
}

/*! shop-card */
.shop-card {
	border: 1px solid #cdcdcd;
	border-radius: 6px;
	margin-bottom: 30px;
}
.shop-card:hover {
	cursor: pointer;
}
.shop-card img {
	border-radius: 5px 5px 0px 0px;
}
.shop-card .projectdescription {
	padding: 5px;
}
.shop-card .projectdescription h1{
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 10px 0;
}.shop-card .projectdescription h1>span{
	font-size: 16px;
	font-weight: bold;
	color: #336ba8;
}
.shop-card .projectdescription p{
	font-size: 12px;
	line-height: 14px;
	margin: 0px
}
.shop-card .projectdescription .btn{
	margin: 5px 0;
}
.shop-card .progress-description {
	margin: 0px;
	font-size: 11px;
	color: #888888;
	padding: 5px;
}
.shop-card .progress {
	margin: 0px;
	border-radius: 0px 0px 5px 5px!important;
	height: 10px;
}
.shop-card .progress .progress-bar{
	background-color: #336ba8;
}

.sidebar .widget {
	margin-bottom: 30px;
}
.sidebar input {
	border-radius: 2px;
	width: 100%;
	border: 1px solid #cdcdcd;
	padding: 2px 5px;
}
.sidebar .widget.spendenstand p span {
	font-weight: bold;
  font-size: 26px;
	color: #336ba8;
}
#contactform input, #contactform textarea {
	width: 100% !important;
	margin-bottom: 15px;
	border: 1px solid #cdcdcd;
	padding: 5px;
}
.part {
	margin-bottom: 15px;
}

.shopcard {
	margin-bottom: 20px;
}
.shopcard:hover {
	box-shadow: 2px 2px 5px #cdcdcd;
  cursor: pointer;
	margin-top: -5px;
	margin-bottom: 25px;
}
.shopcard .shopimg {
	width: 100%;
	border: 1px solid #cdcdcd;
	border-bottom: 0px;
}
.shopcard img {
	display: block;
	margin: 0 auto !important;
}
.shopcard .shop-description {
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
  color: #336ba8 !important;
  padding: 2px 6px;
	border: 1px solid #cdcdcd;
}
.shopcard .shop-description .info {
	color: #336ba8;
  float: right;
}
.shopcard .shop-description .info:hover {
	color: #1d2c4e;
	text-shadow: 1px 1px 2px #cdcdcd;
}

/* Tablet und Phone */
@media (max-width: 767px) {
	body {
		margin-top: 60px;
	}
	section {
		padding: 20px 0;
	}
	.navbar {
		height: 60px;
	}
	.navbar-brand {
		padding: 15px!important;
		height: 60px;
		line-height: 30px;
	}
	.navbar-brand>img {
		height: 30px!important;
	}
	.navbar-nav>li>a {
	    line-height: 24px;
	}
	ul.nav.navbar-nav.navbar-right {
    border-bottom: 1px solid #cdcdcd;
	}
	section#hero .hero-content h1{
		font-size: 20px;
	}
	section#hero .hero-content p{
		font-size: 14px;
	}
}
/* Seite Projekt */
section#project-site .project-header {
	border-radius: 4px;
	margin-bottom: 30px;
}
/* Seite Shop */
section#shop-site .shop-header {
	border-radius: 4px;
	margin-bottom: 15px;
}

/* Seite So funktionierts */
section#funktion-steps h2{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
section#funktion-steps p{
	text-align: center;
}
section#funktion-geld h3{
	font-size: 18px;
}

/* Seite Newsletter */
section#newsletter-landing {
}
